@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

@layer base {
  body {
    @apply text-russian-black;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }

  h5 {
    @apply text-lg font-semibold;
  }

  h6 {
    @apply text-base font-semibold;
  }

  body {
    @apply w-full min-h-[100vh];
  }

  input {
    @apply block outline-none;
  }
}

@layer utilities {
  .text-truncate {
    @apply whitespace-nowrap text-ellipsis overflow-hidden;
  }
}

@layer components {
  /* --------------- Button --------------- */

  .btn {
    @apply inline-block rounded cursor-pointer hover:bg-alice-blue;
  }

  .btn-outlined {
    @apply block px-3 py-1 text-royal-blue border border-royal-blue rounded-lg hover:text-white hover:bg-royal-blue;
  }

  /* -------------- Modal ---------------- */

  .backdrop {
    @apply absolute top-0 left-0 z-[50] w-full h-full bg-[#9598a1]/50;
  }

  .modal {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] bg-white z-[100] rounded-lg outline-none shadow-modal flex flex-col;
  }

  .modal-header {
    @apply py-4 px-5 flex justify-between;
  }

  .modal-body {
    @apply flex-1 overflow-auto;
  }

  .modal-footer {
    @apply text-center bg-baby-blue text-slate-gray text-sm py-2 px-5 rounded-b-lg;
  }

  /* ---------------- Search Field ---------------- */

  .search-field {
    @apply flex items-center gap-2 border-y border-platinum px-5;
  }

  .search-field input {
    @apply h-[40px] w-full text-lg placeholder:text-philippine-silver;
  }
}
